.title {
    padding: 20px 10px 0;
    margin-bottom:2rem;
    text-align: center;
  }
  
  .head-title {
    text-align:center;
  
  }
  
  .login-logo img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .arange {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 14px;
  }
  
  ion-label {
    color:#818181!important
  }
  ion-select{
    width:100%;
    border: 1px solid #818181;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left:1rem;
  }
  
  ion-input,
  ion-textarea {
  border: 1px solid #818181;
  border-radius: 4px;
  box-sizing: border-box;
  }

  ion-icon.md.hydrate::slotted(ion-icon[slot="start"]) {
    margin-right:10px!important;
}
  
  ion-item {
    border-bottom:none;
    --border-style: none;
    --border-width:none;
  }
  
  .account {
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  }
  
  .forgot {
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px!important;
  line-height: 19px;
  
  color: #303030;
  }
  
  ion-text .error {
    padding-left:1.2rem;
    font-size: 0.74rem;
  }
  
  .btn-blue {
    text-transform:capitalize;
  }
  ion-card .upload {
    cursor:pointer
  }
  
  ion-textarea {
    
  padding: 6px 11px 48px;
  width: 348px;
  height: 92px;
  border: 1px solid #818181;
  border-radius: 4px;
  
  }
  
  #upload {
    display:flex!important;
    justify-content: center!important;
    align-items:center!important;
    
  }

  #date-input-popover {
    --offset-y: -var(--ion-safe-area-bottom);
  
    --max-width: 90%;
    --width: 336px;
  }

  .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md  {
       background:url(/assets/IMAP-images/police-light.svg) center/30% no-repeat;
       min-height:5rem;
       color:green!important;
    }
    div#alert-2-msg.alert-message.sc-ion-alert-md {
         color:green!important;
    }

  .picture {
    width:100px;
    height:100px;
    border-radius:50%;
    padding:20px;
    font-size:2rem;
  }

  .camera {
    width:95%; 
    margin:auto; 
    text-align:center
  }
  .camera img {
    cursor:pointer;
    width:140px;
  }