<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>
        Pending History
      </ion-title>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-card>
      <ion-card-content >
        <ion-list lines="none">
          <ion-item>
       
           <div>
            <h2>Robbery Case</h2>
            
            <p>Nigeria</p>
           </div>
            <ion-label slot="end" >Pending</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content >
          <ion-list lines="none">
            <ion-item>
         
             <div>
              <h2>Police Report</h2>
              
              <p>Nigeria</p>
             </div>
              <ion-label slot="end" >Pending</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  
  
  
  
  </ion-content>
  
  
  
  