<ion-header>
    <ion-toolbar style="text-align:center;">
          <ion-title>Take Action</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding"> 
    <form [formGroup]="actionForm">
     <ion-list>
        <ion-item>
        
            <ion-select interface="popover" placeholder="Complaint Status" style="width:100%;" formControlName="status">
              <ion-select-option value="pending">Samson Blessing</ion-select-option>
              <ion-select-option value="closed">John Peter</ion-select-option>
              <ion-select-option value="closed">Ibrahim Isah</ion-select-option>
              <ion-select-option value="closed">Habib Yakubu</ion-select-option>
              <ion-select-option value="closed">Fatima Ibrahim</ion-select-option>
              <ion-select-option value="closed">Sunday John</ion-select-option>
              <ion-select-option value="closed">Musa Tanko</ion-select-option>
            </ion-select>
            </ion-item>
            
          
     </ion-list>
         
    </form>
    <ion-footer id="ion-footer">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>

   
  </ion-content>