

  <ion-content class="ion-padding"> 
 
      <div class="avatar">
        <ion-avatar >
            <img alt="" src="/assets/IMAP-images/person2.jpg" />
        </ion-avatar>
      </div>
        <ion-card-header style="text-align:center">
          <ion-card-title><strong>Blessing Johnson</strong></ion-card-title>
          <ion-card-subtitle><strong>ID:2233221</strong></ion-card-subtitle>
        </ion-card-header>
      
    
        <ion-list>
            <ion-item>
                <ion-label>
                  <strong>Email</strong>
                </ion-label>
                 Blessing@gmail.com
              </ion-item>
              <ion-item>
                <ion-label>
                  <strong>Reg. Date</strong>
                </ion-label>
                 20th Nov, 2022
              </ion-item>
              <ion-item>
                <ion-label>
                  <strong>Phone</strong>
                </ion-label>
                 +234832-2323-232
              </ion-item>
              <ion-item>
                <ion-label>
                  <strong>Status</strong>
                </ion-label >
                   <span class="status"> Active</span>
              </ion-item>
            
        </ion-list>
      
    
  </ion-content>
  <ion-footer id="ion-footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
    
      <!-- <ion-buttons slot="end">
        <ion-button (click)="confirm()">Confirm</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-footer>