

<ion-content>
  <div class="title">
    <img src="assets/IMAP-images/logo.svg" class="login-image" />
    
  </div>
      <p class="head-title"> Login your Account</p>
      
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list>
      <ion-item class="input">
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input formControlName="username" type="text" >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p  class="error" *ngIf="isFieldValid('username')">
          Field is required
        </p>
      </ion-text>

      <ion-item class="input">
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input formControlName="password" type="password" >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p  class="error" *ngIf="isFieldValid('password')">
          Password is required
        </p>
      </ion-text>
    </ion-list>
    <ion-item  class="forgot">
      <div class="arange">
        <ion-checkbox ></ion-checkbox>
        <ion-label>Remember Me</ion-label>
        </div>
         <ion-label slot="end">Forgot Password?</ion-label>
      
      </ion-item>
      <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" expand="block" shape="round">LOGIN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="account" style="text-align:center;">
        Don’t have an account? <a routerLink="/signup">Create Account</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>



  