<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
        Pending Complaints
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card  *ngFor="let report of reports">
        <ion-card-content routerLink="/admin/apps/pending-detail/{{report.id}}">
          <ion-list lines="none">
            <ion-item>
         
             <div>
              <h2>{{report.name}}</h2>
              
              <p>{{report.title}}</p>
             </div>
              <ion-label slot="end" [ngClass]="{pending: report.status =='Pending', closed: report.status === 'Closed'}">{{report.status}}</ion-label>
            </ion-item>
          </ion-list>
  
         
        </ion-card-content>
      </ion-card>
    

  
  </ion-content>
  