<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
        Closed Complaints
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentActionSheet()" >
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card  *ngFor="let report of reports">
        <ion-card-content routerLink="/admin/apps/closed-detail/{{report.id}}">
          <ion-list lines="none">
            <ion-item>
         
             <div>
              <h2>{{report.name}}</h2>
              
              <p>{{report.title}}</p>
             </div>
              <ion-label slot="end" class="closed">{{report.status}}</ion-label>
            </ion-item>
          </ion-list>
  
         
        </ion-card-content>
      </ion-card>
    

  
  </ion-content>
  