<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add System Users
      </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button  >
          <ion-icon  name="person"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-grid>
        <ion-row>
            <ion-col><strong>Name</strong></ion-col>
            <ion-col><strong>Email</strong></ion-col>
            <ion-col><strong>Department</strong></ion-col>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Habib Yakbub</ion-col>
            <ion-col>morocco@gmail.com</ion-col>
            <ion-col>Department</ion-col>
            <ion-col><a>Edit | View </a></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Habib Yakbub</ion-col>
            <ion-col>morocco@gmail.com</ion-col>
            <ion-col>Department</ion-col>
            <ion-col><a>Edit | View </a></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Habib Yakbub</ion-col>
            <ion-col>morocco@gmail.com</ion-col>
            <ion-col>Department</ion-col>
            <ion-col><a>Edit | View </a></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Habib Yakbub</ion-col>
            <ion-col>morocco@gmail.com</ion-col>
            <ion-col>Department</ion-col>
            <ion-col><a>Edit | View </a></ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </ion-content>